.photo-container {
    position: relative;
    width: 95%;
    height: 0;
    padding-bottom: 56.25%; 
    max-height: 95vh;
}

.shoes-container {
    position: absolute;
    width: 10%;
    
    top: 80%;
    left: 80%;
    transform: rotate(-49.46deg);
}

.mice-container {
    position: absolute;
    width: 35%;

    top: 55%;
    left: 0%;
    transform: scaleX(-1);
    z-index: -1;
}

.leaf-container {
    position: absolute;
    width: 7%;

    top: 44%;
    left: 92%;
    transform: scaleX(-1);
    z-index: -3;
}

.star-container {
    position: absolute;
    width: 45%;

    top: -10%;
    left: 60%;
    transform: rotate(12.92deg);
    z-index: -1;
}

.cans-container {
    position: absolute;
    width: 16%;

    top: 70%;
    left: 85%;
    transform: rotate(-15.9deg);
}

.rainbow-container {
    position: absolute;
    width: 70%;
    
    top: -10%;
    left: 15%;
}

.octopus-container {
    position: absolute;
    width: 30%;

    top: 30%;
    left: 70%;
    transform: rotate(-.73deg);
    z-index: -2;
}

.fox-container {
    position: absolute;
    width: 40%;

    top: -5%;
    left: 0%;
    transform: rotate(-5.08deg);
    z-index: -1;
} 

.toes-container {
    position: absolute;
    width: 35%;

    top: 25%;
    left: -5%;
    z-index: -2;
}

.frogs-container {
    position: absolute;
    width: 44%;

    top: 50%;
    left: 28%;
    z-index: -2;
}

.eggs-container {
    position: absolute;
    width: 25%;

    top: 66%;
    left: 60%;
    transform: rotate(-5.08deg);
    z-index: -1;
}