.photo-container {
    position: absolute;
    width: 95%;
    height: 0;
    padding-bottom: 56.25%; 
}

.photo-container > div {
    position: absolute;
}

.shoes-container {
    width: 14%; 
    top: 85%;
    left: 68%;
    transform: rotate(-49.46deg);
    z-index: -1;
}

.mice-container {
    width: 33%;
    top: 60%;
    left: 7.5%;
    transform: scaleX(-1);
    z-index: -1;
}

.leaf-container {
    width: 8%;
    top: 45%;
    left: 83%;
    transform: scaleX(-1);
    z-index: -3;
}

.star-container {
    width: 42%;
    top: -8%;
    left: 60%;
    transform: rotate(12.92deg);
    z-index: -1;
}

.cans-container {
    width: 15%;
    top: 72%;
    left: 75%;
    transform: rotate(-15.9deg);
    z-index: -2;
}

.rainbow-container {
    width: 60%;
    top: 0%;
    left: 20%;
}

.octopus-container {
    width: 33%;
    top: 29%;
    left: 59%;
    transform: rotate(-.73deg);
    z-index: -3;
}

.fox-container {
    width: 40%;
    top: -3%;
    left: 3%;
    transform: rotate(-5.08deg);
    z-index: -1;
} 

.toes-container {
    width: 30%;
    top: 30%;
    left: 5%;
    z-index: -2;
}

.frogs-container {
    width: 40%;
    top: 53%;
    left: 30%;
    z-index: -2;
}

.eggs-container {
    width: 18%;
    top: 70%;
    left: 61%;
    transform: rotate(-5.08deg);
    z-index: -2;
}