.loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    width: auto; /* Full width */
    height: 90vh; /* Full viewport height */

}

.loading .Card-Background_With_Boarders {
    height: 80vh; /* Full height of the parent */
    object-fit: cover; /* Maintain aspect ratio, cover the container */
    width: auto; /* Width is set automatically */

}
