.deck-button {
    position: relative; 
    font-size: 3vw;
    text-transform: capitalize; 

    border: none;
    border-radius: 40px;

    width: 100%;
    height: 100%;
}

.deck-button:hover {
    box-shadow: 0px 8px 25px 0px;
}

.lock-icon {
    width: 80%;
}

.button-name {
    color: var(--black);
    font-weight: bolder;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .deck-button {
        border-radius: 30px;
    }
}

@media screen and (max-width: 600px) {
    .deck-button {
        border-radius: 20px;
    }
}