.row,
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-content: center;
}

.key,
.title,
.submit,
.octipi-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.octipi-img {
  width: 185px;
  padding-top: 20px;
}

.pink {
  color: #EE66C8;
  padding: 0 8px;
}

label,
p {
  color: white;
  display: block;
  font-size: 18px;
}

label,
input {
  margin-bottom: 10px;
}

input {
  height: 20px;
  min-width: 200px;
}

.contact-content {
  justify-content: center;
  margin: 30px 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.message-box {
  min-width: 500px;
  min-height: 150px;
}

.block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.width-300 {
  width: 300px;
}

.email-text {
  margin: 0;
  padding-left: 10px;
  align-content: center;
}
