.agreement-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 2;
}

.agreement-popup {
    /* NEED TO UPDATE var not in index.css, not sure if i can do that */
    background-color: #CFCFCF;      /* background-color: var(--agreement-gray-color);  */
    
    height: 25%;
    width: 30%;
    min-height: 200px;
    min-width: 300px;
    padding: 30px 10px;
    border: 4px solid var(--black); 
    border-radius: 30pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: var(--settings-font-family);
    font-size: 120%;
}

.agreement-popup input[type="checkbox"] {
    border-color: var(--black);
}

.privacy-policy-link {
    color: var(--variable-collection-link);
    cursor: pointer;
    text-decoration: underline;
    margin: none;
}