.agreement-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 2;
}

.agreement-popup {
    height: 25%;
    width: 30%;
    min-height: 200px;
    min-width: 300px;
    padding: 20px;
    border: 4px solid black; 
    border-radius: 30pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: var(--setting-gray-color); */
    background-color: #CFCFCF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: var(--settings-font-family);
    font-size: 120%;
}

.agreement-popup input[type="checkbox"] {
    transform: scale(3); 
    border-color: black;
    color: green;
}


.privacy-policy-link {
    color: var(--variable-collection-link);
    cursor: pointer;
    text-decoration: underline;
    margin: none;
}

.agree-button {
    background-color: var(--pink);
    color: black;
    font-size: larger;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: 0.25s ease;    
    height: 20%;
    width: 90%; 
}

.agree-button-checked {
    background-color: var(--setting-2nd-gray);
}

/* .agree-button:disabled {
    background-color: var(--setting-2nd-gray);
} */
  
/* .agree-button:hover {
    background-color: var(--pink);
    box-shadow: 0px 4px 6px rgba(0, 255, 0, 0.5);
} */