.start-button {
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    height: auto;
    width: auto; 
    max-width: 35vw;
    max-height: 90vh;
    
    border-radius: 60%; 
    background-color: transparent;
    
    filter: drop-shadow(var(--startnstop-drop-shadow));
    transition: filter 0.3s ease;
    cursor: pointer;
}

.start-button:hover {
    filter: drop-shadow(0 0 0 transparent); 
} 

@media (max-width: 800px) {
    .start-button { max-width: 45vw; }
}
  