.key,
.title,
.submit,
.octipi-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.octipi-img {
  width: 185px;
  padding-top: 20px;
}

label,
p {
  color: white;
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  min-width: 200px;
  margin-bottom: 10px;
}

.contact-content {
  justify-content: center;
  margin: 30px 0;
}

.message-box {
  min-width: 500px;
  min-height: 150px;
  resize: vertical;
}

.email-text {
  margin: 0;
  padding-left: 10px;
  align-content: center;
}
