.choose-deck-page {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    padding-top: 5vh;

    background-image: url('../../assets/artwork/Individual_Assets/Game_Background.PNG');
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 

    text-align: center;
}

.grid {
    width: 75%;
    margin: 0 auto;
}

/* make each cell a square */
.grid-item {
    display: flex;
}

.grid-item::before {
    display: block;
    padding-top: 100%; 
    content: '';
}