.choose-deck-page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-image: url('../../assets/artwork/Individual_Assets/Game_Background.PNG');
    text-align: center;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 

    position: fixed;
    overflow: hidden;
}

.choose-deck-title .page-title {
    text-transform: uppercase;
    color: var(--cyan);
    font-size: 6vw; 
    
    /* --strong-shadow: 3px 13px 6px 0px rgba(0, 0, 0, 0.8); text shadow only takes 3 numbers, which property do i use? */
    text-shadow: 3px 13px 6px var(--black);
}

.grid {
    width: 75%;
    margin: 0 auto;
}

/* make each cell a square */
.grid-item {
    display: flex;
}

.grid-item::before {
    content: '';
    display: block;
    padding-top: 100%; 
}