.home-page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed; 
    display: flex;
    overflow: hidden; 
    padding-top: 5vh;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 

    background-image: url('./Characters.svg'), url('../../assets/artwork/Individual_Assets/Game_Background.PNG');
    background-position: center, center; 
    background-size: contain, cover; 
    background-repeat: no-repeat; 
}

.home-page-title .page-title {
    text-transform: uppercase;
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;     
    max-height: 40vh;
    max-width: 50vw;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    z-index: 1; 
    
    cursor: pointer;

    background-color: transparent;
    border: none;
}