.privacy-policy-page {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.privacy-policy-content {
    position: absolute;
    top: 12vh;
    bottom: 3vh;

    overflow-y: scroll;

    width: 85%;
    border-radius: 10px;
    box-shadow: var(--setting-drop-shadow);
    padding: 1rem 1.5rem;

    background-color: var(--setting-background);
    color: var(--variable-collection-white);
}

.privacy-policy-content::-webkit-scrollbar {
    display: none;
}
