.deck-button {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 14vw; 
    height: 14vw;

    border-radius: 40px;
    border-width: 7px;
    border-color: var(--color);
    box-shadow: 0px 8px 25px 0px var(--color, rgba(0, 0, 0, 0.1)); 
    text-transform: capitalize;
    
    transition: 0.25s ease;
    overflow: hidden;
    outline: none;
}

.deck-button:focus {
    outline: none; 
}

.deck-button:active {
    outline: none; 
}

.deck-button[aria-disabled='true'] {
    background-color: var(--color);
    pointer-events: none;
}

.deck-button[aria-disabled='false'] {
    background-image: url('../../../../assets/artwork/Individual_Assets/Card-Background_With_Boarders.png');
    background-position: center; 
    background-size: auto 150%; 
    background-repeat: no-repeat; 
}

.deck-button.gamut {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #B62F32, #4E41BC, #81B850, #96FCFD, #BF6C2F, #E9CC47);
}

.deck-button:hover {
    border-color: var(--color);
    box-shadow: none;
}


@media screen and (max-width: 1000px) {
    .deck-button {
        border-width: 5px; 
        border-radius: 30px;
    }
}

@media screen and (max-width: 700px) {
    .deck-button {
        border-width: 3px;
        border-radius: 15px;
    }
}