.alert-container {
    position: absolute;
}

.alert-container .agreement-alert {
    box-sizing: border-box;

    width: 40vw;
    height: 20vw;
    min-width: 30rem;
    min-height: 15rem;

    border-radius: 50px;
    border: .2rem solid var(--black);
}

.MuiAlert-icon {
    position: absolute;
    top: 1rem;
    left: 1.5rem;

}

.MuiAlert-action {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.MuiAlert-message {
    width: 75%;
    margin: auto;
    text-align: center;
}
