.alert-container {
    position: absolute;
}

.alert-container .agreement-alert {
    width: 40vw;
    height: 30vh;
    min-height: 200px;
    min-width: 300px;
    padding: 30px 20px;

    border: 4px solid var(--black); 
    border-radius: 20pt;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.alert-container .agreement-alert .MuiAlert-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}

.alert-container .agreement-alert .MuiAlert-action {
    position: absolute;
    top: 20px;
    right: 20px;
}

.alert-container .agreement-alert .MuiAlert-message {
    font-size: 120%;
    text-align: center;
    margin: auto;
}  