.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-container .agreement-alert {
    position: absolute;
    
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    border: 4px solid var(--black); 
    border-radius: 20pt;

}

.alert-container .agreement-alert .MuiAlert-message {
    display: flex;
    align-items: center;
    justify-content: center;

}

.alert-container .agreement-alert .MuiAlert-icon {
    margin: 10px 0 0 10px;
}