h2 {
  color: #96FCFD;
  font-size: 40px;
}

.setting-content {
  max-width: 600px;
  min-width: 600px;
  height: 600px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 40px;
  border: none;
  background-color: #516EBE;
}

.setting-title {
  display: flex;
  justify-content: center;
}

div.setting-title > h2 {
  text-shadow: 5px 10px 6px rgba(0, 0, 0, .5);
}

.padding-bottom {
  padding-bottom: 40px;
}

.sound-labels {
  text-align: end;
}

div.sound-labels > h2 {
  padding-right: 20px;
}

.space-evenly {
  justify-content: space-evenly;
}
