
body {
    background-image: url("/Users/phoebe.wang/Desktop/factortastic/frontend/src/assets/artwork/Individual_Assets/Game_Background.PNG");
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.GameSettings {
    background-color: rgba(81, 110, 190, 1);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw; /* Adjust width as needed */
    height: 90vh; /* Adjust height as needed */
    top: 50%;
    left: 50%;
    border-radius: 5vh;
}


.Title {
    font-size: 3rem;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MusicText {
    font-size: 3rem;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.MusicButton {
    position: absolute;
    top: 23%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.SoundText {
    font-size: 3rem;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.SoundButton {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.color1{
    color: rgba(38, 219, 179, 1);
}

.color2{
    color: rgba(255, 84, 229, 1);
}

.button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 5vh; /* Add some gap between buttons */
}


