.agree-button {
    background-color: var(--pink);
    color: var(--black);
    font-size: larger;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
    transition: 0.25s ease;    
    height: 25%;
    width: 90%; 
    box-shadow: var(--setting-drop-shadow);
    text-align: center; 
    display: block;
    margin: 0 auto;
}

.agree-button:disabled {
    background-color: var(--setting-2nd-gray);
    box-shadow: none;
    cursor: not-allowed;
}
  
.agree-button:hover {
    box-shadow: none;
}