.agree-button {
    display: flex; 
    justify-content: center; 
    align-items: center;

    height: 25%;
    width: 90%; 
    margin: 0 auto;

    cursor: pointer;
    transition: 0.25s ease;    

    border: none;
    border-radius: 25px;
    box-shadow: var(--setting-drop-shadow);

    color: var(--black);
    background-color: var(--pink);
}

.agree-button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    background-color: var(--setting-2nd-gray);
}
  
.agree-button:hover {
    box-shadow: none;
}