Button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    height: 30%;
    width: 90%; /* Make the button take up 90% of the width */
}
  
  Button:hover {
    background-color: magenta;
  }