:root {
  --black: rgba(0, 0, 0, 1);
  --cyon: rgba(38, 219, 179, 1);
  --drop-shadow: 3px 13px 6px 3px rgba(0, 0, 0, 0.25);
  --heading-font-family: "LeagueGothic-Regular", Helvetica;
  --heading-font-size: 170px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: 100%;
  --math-equations-font-family: "Acme-Regular", Helvetica;
  --math-equations-font-size: 128px;
  --math-equations-font-style: normal;
  --math-equations-font-weight: 400;
  --math-equations-letter-spacing: 0px;
  --math-equations-line-height: 100%;
  --pink: rgba(255, 84, 229, 1);
  --secondary-font-family: "AkayaTelivigala-Regular", Helvetica;
  --secondary-font-size: 64px;
  --secondary-font-style: normal;
  --secondary-font-weight: 400;
  --secondary-letter-spacing: 0px;
  --secondary-line-height: 100%;
  --setting-2nd-gray: rgba(181, 181, 181, 1);
  --setting-background: rgba(81, 110, 190, 1);
  --setting-drop-shadow: 0px 8px 25px 0px rgba(150, 252, 253, 1);
  --setting-drop-shadow-hover: 3px 13px 6px 3px rgba(0, 0, 0, 0.55);
  --settings-font-family: "ABeeZee-Regular", Helvetica;
  --settings-font-size: 24px;
  --settings-font-style: normal;
  --settings-font-weight: 400;
  --settings-gray-color: rgba(207, 207, 207, 1);
  --settings-letter-spacing: 0px;
  --settings-line-height: 100%;
  --settings-pink: rgba(238, 102, 200, 1);
  --variable-collection-link: rgba(2, 25, 230, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
