.agreement-page {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.agreement-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    box-sizing: border-box;
    width: 40vw;
    height: 20vw;

    min-width: 30rem;
    min-height: 15rem;
    padding: clamp(1rem, 2rem, 3rem) 0;

    border: .2rem solid var(--black);
    border-radius: 50px;

    text-align: center;

    background-color: var(--settings-gray-color);
}

.acknowledgement {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 0 auto;

    text-align: center;
}

.background-hidden .agreement-popup {
    filter: blur(2px); /* Optional: you can blur or add other effects to the background content */
    pointer-events: none; /* Prevents interaction with the background content */
    opacity: 0.5; /* Dim the background content */
}

.background-hidden .agreement-popup,
.background-hidden .acknowledgement,
.background-hidden .LinkButton {
    visibility:hidden;
}
